# Java 관련
*.class
*.jar
*.war
*.ear

# 빌드 디렉토리
/target/
/out/

# Maven
.mvn
**/mvnw
**/mvnw.cmd
**/.mvn

# Gradle
.gradle
/build/
/.gradle/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS 파일
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Lombok
.lombok/

# Spring Boot Devtools
/spring-boot-devtools.properties

# QueryDSL
/build/generated/

# H2 데이터베이스
*.db
*.mv.db
*.trace.db

# MySQL 설정 파일
*.sql
*.cnf

# 환경 변수 파일
.env

# Test 결과 파일
/test-output/

# Git 정보
.git/

# IDE와 무관한 설정 파일
*.swp
